<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color: pink;">
  <div class="container">
    <div class="col-sm-6" style="background-color:rgb(173, 12, 93);">
      <p style="color: white; margin-top: -6px;">Vehicles</p>
    </div>
  </div>
  <h1 style="color:palevioletred;" >Gule Gule...</h1>
<style>
    h1{
        text-align: center;
        margin-top:200px;
        font-size: 100px;
    }
    p{
        font-size:30px;
        
    }
 
  </style>
  </body>
</div>

</body>
</html>